
    <nav class="navbar navbar-expand-lg bg-body-light border-bottom fixed-top">
    <div class="container-fluid d-flex flex-column">
        <!-- First Row -->
        <div class="d-flex justify-content-between align-items-center w-100">
            <!-- Logo -->
            <a class="navbar-brand" href="/"><i class="fa-duotone fa-solid fa-book"><b>Project</b> </i></a>
            
            <!-- Search Bar -->
            <form class="d-flex w-50" role="search" action="/books/search" method="post">
                <input class="form-control me-2 " name="search" id="search"  placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            
            <!-- Login and Cart -->
            <div class="d-flex align-items-center gap-3">
                <a href="/login" class="btn btn-outline-primary">Login</a>
                <a href="/cart" class="btn btn-outline-secondary">
                    <i class="fa-solid fa-cart-shopping"></i> Cart
                </a>
            </div>
        </div>
        
        <!-- Second Row -->
        <div class="navbar-collapse mt-2 bg-body-tertiary w-100">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-left w-100">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books?category=All">Browse Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/seller">Sell a Book</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>


